body{
  margin: 0;
  padding: 0;
}

.chunk {
  border-right: 2px white solid;
  color: black;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

.code {
  font-family: sans-serif;
  white-space: pre-wrap;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
  margin: 0 1% 0 1%;
}

.flex {
  display: flex;
}

.sidebar {
  width: 30%;
  overflow-wrap: break-word;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2%;
  box-shadow: 0 0 10px #ccc;
}

#colorKey {
  list-style: none;
  padding-left: 0;
}

#colorKey li {
  margin-bottom: 5px;
}

.hovered {
  opacity: 0.8; /* Hack, but it works. */
}

.selected {
  opacity: 1;
}

.dim {
  opacity: 0.5;
}
