.chunk {
  border-right: 2px white solid;
}

.code {
  font-family: sans-serif;
  white-space: pre-wrap;
}

.flex {
  display: flex;
}

.sidebar {
  flex-basis: 30%;
  flex-shrink: 0;
  flex-grow: 0;
}

#colorKey {
  list-style: none;
  padding-left: 0;
}

#colorKey li {
  margin-bottom: 5px;
}

.code {
  overflow: scroll;
  max-height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  box-shadow:0 0 10px #ddd;
}

.highlight {
  opacity: 0.8; /* Hack, but it works. */
}
